<?xml version="1.0"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
<system.webServer>
  <httpErrors>
    <error statusCode="404" path="/index.html" responseMode="Redirect" />
  </httpErrors>
  <rewrite>
  <rules>
    <rule name="Redirect to non-www" stopProcessing="true">
      <match url="(.*)" negate="false"></match>
      <action type="Redirect" url="https://edisphere.com/{R:1}"></action>
      <conditions>
        <add input="{HTTP_HOST}" pattern="^edisphere\.com$" negate="true"></add>
      </conditions>
    </rule>
     <rule name="DefaultRule" stopProcessing="true">
                    <match url="^index.html" />
                    <action type="Redirect" url="/"  />
              </rule>
  </rules>
</rewrite>
</system.webServer>
</configuration>

