<section class="edi-footer">

    <!-- Inner -->
    <section class="col-xs-12 edi-footer-inner">
    <section class="col-md-10 col-md-offset-1 inner-container">

        <section class="col-sm-12 col-md-3 container-block">
            <div class="container-fluid">
            <h1>Data Sheets</h1>
            <ul class="m-text-decor">
            <li><a href="{{base}}/data-sheets/edisphere-suite-key-benefits.html">Edisphere Suite: Key Benefits</a>
            <li><a href="{{base}}/data-sheets/edisphere-translator.html">Edisphere: Translator</a>
            <li><a href="{{base}}/data-sheets/edisphere-implementor.html">Edisphere: Implementor</a>
            <li><a href="{{base}}/data-sheets/edisphere-collaborator.html">Edisphere: Collaborator</a>
            </ul>
            </div>

        </section>

        <section class="col-sm-12 col-md-4 container-block">

            <h1>White Papers</h1>
            <ul class="m-text-decor">

            <li> <a href="{{base}}/white-papers/edisphere-data-integration-suite-executive-overview.html">Data Integration Suite (Executive Overview)</a>
            <li><a href="{{base}}/white-papers/edisphere-mapping-simplified-maps-complex-hierarchies.html">Mapping Simplified (Maps complex hierarchies)</a>
            <li><a href="{{base}}/white-papers/edisphere-data-reliability-validation-business-rules.html">Data Reliability (Validation and Business rules)</a>
            <li><a href="{{base}}/white-papers/edisphere-application-integration-seamless.html">Application Integration (Seamless)</a>
            <li><a href="{{base}}/white-papers/edisphere-implementation-tasks-roles-responsibilities.html">Implementation Tasks (Roles and responsibilities)</a>
            </ul>

        </section>

        <section class="col-sm-12 col-md-5 container-block">

            <h1>Address</h1>
            <ul class="m-text-decor">
            <li class="no-bullet">
                EDISPHERE Software Pvt Ltd,
                India.<br>
                <strong>Tel</strong> : <a href="tel:+919823517790">+91-9823517790</a><br>
                <strong>For Sales</strong> : <a href="mailto:sales@edisphere.com">sales@edisphere.com</a><br>
                <strong>For Support</strong> : <a href="mailto:support@edisphere.com">support@edisphere.com</a><br>
                <strong>For CSR activities</strong> : <a href="mailto:csr@edisphere.com">csr@edisphere.com</a><br>
                <strong>For General Information</strong> : <a href="mailto:info@edisphere.com">info@edisphere.com</a><br>
            </li>
        </ul>

        </section>

        <section class="col-sm-12 container-block">
        <h1>Case Studies</h1>
        <ul class="m-text-decor"><li><a href="{{base}}/case-studies.html">How Ports America is using EDISPHERE to integrate with Shipping Lines and US Custom</a></li></ul>
        </section>

        <section class="col-sm-12 container-block">
        <h1 class="">Request Evaluation</h1>
        <ul class="m-text-decor"><li><a href="{{base}}/download-trial-version.html">To help you quickly evaluate the solution, we offer free support for mapping your initial messages. Ask us about our Pilot program.</a></ul>
        </section>

        <section class="col-sm-12 container-block">
        <h1>Value Propositions</h1>
        <ul class="m-text-decor"><li><a href="{{base}}/value-proposition.html">Unlike most competitors EDISPHERE offers a complete data integration solution, comprising of mapping tools, productivity tools.</a></ul>
        </section>

        <section class="col-sm-12 container-block">
        <h1>News</h1>
        <ul class="m-text-decor"><li><a href="{{base}}/news/edisphere-launches-data-integrating-cloud-integrating-businesses-india.html">Edisphere launch low-cost, self service, pay-per-use, data-integration, software as a service(SaaS), cloud for businesses in india.</a></li></ul>
        </section>

    </section>
    </section>

    <!-- Copyright -->
    <section class="col-md-12 edi-footer-copyright">

        <menu>
        <li><a href="{{base}}/index.html">Home</a>
        <li><a href="{{base}}/company.html">About Us</a>
        <li><a href="{{base}}/technical-overview.html">Product</a>
        <li><a href="{{base}}/current-openings.html">Current Openings</a>
        <li><a href="{{base}}/general-information.html">General Information</a>
        <li><a href="{{base}}/privacy-policy.html">Privacy Policy</a>
        </menu>

        <p>Copyright &copy; 2020 Edisphere Software Pvt. Ltd., India. All Rights Reserved.</p>

    </section>

</section>
