<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title }}</title>

    <!-- Icons -->
    <link rel="favicon" href="{{base}}/assets/images/favicon.png" />
    <link rel="shortcut icon" href="{{base}}/assets/images/favicon.png" />
    <link rel="bookmark" href="{{base}}/assets/images/favicon.png" />

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SEO -->
    {% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}
    <meta name="keywords" content="EDI Electronic Data, API Integration, EDI Software, X12 Software, Cloud Integration, Data Integration, EDI Integration, Web Services, EDI Mapping Software, EDI Software Vendors, EDI Mapping, EDI Translator, Electronic Data Interchange, Data Integrator, Data Exchange, JSON REST API, XML REST API, SAP Integration, DATA FORMATS - X12, EDIFACT, TRADACOM (UK), VDA (Germany), SAP IDOC, CSV, FLAT FILES, XML, JSON">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Stylesheets -->

    <link rel="stylesheet" async type="text/css" href="{{base}}/assets/css/app.css" />
    <link rel="stylesheet"async type="text/css"  href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.min.css" />

    <!-- Scripts -->    
    <!--<script src="{{base}}/assets/scripts/jquery.min.js"async ></script>-->
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{base}}/assets/scripts/lightbox.min.js"async ></script>
    <script src="{{base}}/assets/scripts/main.js"async ></script>

<script type="text/javascript">
    window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://rec.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', 'b969cfee8a263d4aaf76a37906dc3343fb8764e9');
</script>

<!-- Global site tag (gtag.js) - Google Ads: 1071477344 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1071477344"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-1071477344');
</script>


<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K48WKQN');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
