

    <!-- Inner -->
    <div class="container-fluid">

        <div class="navbar-header col-lg-12 col-md-12 col-sm-12">
          <div class="grid-container">
            <div class="grid-item-1">
              <!--CSS Grid items EDISPHERE LOGO-->
              
                <div style="display: flex; align-items: end; width: fit-content;">
                  <a class="edi-brand-logo" href="{{base}}/index.html">
                      <img src="{{base}}/assets/images/edisphere_logo.jpg" class="brand-logo-img" alt="{{ site.title }}">
                    </a>
                      <!--<span data-description="Modern EDI & Web Services (API) Integration Platform">Edisphere Software</span> -->
                </div>

            </div>
            <div class="grid-item-2">
              <!--CSS Grid Item EDISPHERE Info-->
              <div class="brand-logo-caption">
                <span class="logo-main-head"><b>EDISPHERE SOFTWARE</b></span>
                <span class="logo-desc-span"><b>Modern EDI &amp; Web Services (API) Integration Platform</b></span>
              </div>
              
            </div>
            <div class="grid-item-3">
              <div class="call-action">
                <a href="{{base}}/request-information.html" class="btn btn-res-text">Request Free Evaluation</a>
              </div>  
              
              <!--<div class="contact-header">Contact Sales: <a href="mailto:sales@edisphere.com">sales@edisphere.com <span class="glyphicon glyphicon-envelope call-icon"></span></a></div>-->
            </div>
          </div>
          
          <nav class="navbar navbar-default edi-navbar"> <!--navbar-fixed-top removed class-->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#edi-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse edi-collapse-open col-lg-12" id="edi-navbar-collapse-1">

            <ul class="nav navbar-nav edi-menulist">
              <li class="basic-menu"><a href="{{base}}/index.html">Home</a></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{base}}/company.html">Company</a></li>
                    <li><a href="{{base}}/privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="{{base}}/legal.html">Legal</a></li>
                     <li><a href="{{base}}/news/edisphere-launches-data-integrating-cloud-integrating-businesses-india.html">News</a></li>
                      <li role="separator" class="divider"></li>
                     <li><a href="{{base}}/csr.html">Corporate Social Responsibility</a></li>
                     <li><a href="{{base}}/csr/news/mayor-hails-edipshere-innovation-centre-takiya-slum.html">CSR News</a></li>
                     <li><a href="{{base}}/csr/csr-gallery.html">CSR Gallery</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{base}}/technical-overview.html">Technical Overview</a></li>
                    <li><a href="{{base}}/value-proposition.html">Value Proposition</a></li>
                </ul>
              </li>

           <!----   <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Solutions<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{base}}/Solutions/eInvoice-ewb-solution.html">eInvoice / eWaybill solution</a></li>
                </ul>
              </li>
            -->


              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resources<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{base}}/edi-industries.html">EDI-Industries</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Collateral<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{base}}/case-studies.html">Case Studies</a></li>
                    <li><a href="{{base}}/white-papers.html">White Papers</a></li>
                    <li><a href="{{base}}/data-sheets.html">Data Sheets</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Careers<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{base}}/current-openings.html">Current Openings</a></li>
                    <li><a href="mailto:resume@edisphere.com">Submit Your Resume</a></li>
                </ul>
              </li>

              <li class="basic-menu"><a href="{{base}}/contact-us.html">Contact Us</a></li>
              <span class="m_help_info-btn"><a target="_blank" class="btn btn-info navbar-btn" href="https://supportdesk.edisphere.com/portal/home">Help Desk</a></span>
               

            </ul>
            
        </div>

        </div>
        
        
        
    </div>

</nav>
